/*Estilo para tabletes */

@media only screen and (min-width: 768px) and (max-width: 959px){

    /* Container */
   
    
    /*Header*/
    .header .header-titulo{
        padding-left: 20px;
    }

    .header-menu{
        padding-right: 20px;
    }

    /*Introdução*/

    .introducao-titulos{
        line-height: 80px;
    }

    .introducao-img img{
        width: 350px;
        padding-left: 30px;
    }

    .introducao-titulos p{
        font-size: 16px;
    }

    .introducao-titulos h2{
        font-size: 47px;
    }

    /* Serviços */
    .servicos p{
        font-size: 16px;
        padding: 10px 0px;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
    }

    .servicos-img img{
       width: 400px;

    }

    .servicos-descricao, .servicos-button{
        padding-left: 30px;
    }

    .servicos-button button{
        width: 30%;
    }

    /* Relatos */

    .Relatos-div1 .circulo, .Relatos-div2 .circulo{
        width: 80px;
        height: 80px;
    }

    .Relatos-div1, .Relatos-div2{
        padding: 22px;
    }

    .Relatos-div1 .descricao, .Relatos-div2 .descricao{
        font-size: 14px;
    }

    .Relatos .empresa{
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-left: 15px;
    }

    
    
    /*footer */

    .footer-titulo h3{
        font-size: 32px;
    }

    .footer-sobre h3, .footer-contato h3, .footer-redes h3{
        font-size: 20px;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        
    }

    .footer-titulo p, .footer-sobre p, .footer-contato p{
        font-size: 15px;
        padding: 10px 0px;
    }
    
}

/* Estilo para smartphones */
@media only screen and (max-width: 767px){
    
    /*Header*/
    .header-titulo{
       text-align: center;
       padding-bottom: 40px;
    }

    .header-menu ul {
       text-align: center;
    }
  

    .header-menu ul li{
        display: inline;
        padding: 6px 16px;
        font-size: 18px;
      
    }

    .header-menu ul a li:hover{
        padding: 6px 16px;
    }

    .menu_ativo{
        color: #fff;
        background: #D6000D;
        border-radius: 5px;
        padding: 6px 16px;
    }
    

    .login{
       visibility: hidden;
    }

    /* introdução */

    .introducao-img img, .introducao-titulos{
        text-align: center;
    }

    .introducao-titulos{
        line-height: 60px;
    }

    .introducao-titulos h2{
        font-size: 42px;
        margin-bottom: 20px;
    }

    .introducao-titulos .btn{
        width: 85%;
    }

    /* servicos */

   .servicos{
     
       display: flex;
       flex-direction: column;
       margin-top: 120px;
       margin-bottom: 70px;
       
   }

   .div1{
    order: 1;
   }

   .div2{
       order:2;
   }

   .div3{
       order: 3;
   }

   .servicos-button{
       text-align: center;
   }

   .servicos-button button{
    margin: 20px 0px;
    width: 58%;
    
}

    .servicos-descricao {
        margin-left: 60px;
    }

    /* Relatos  */

    .Relatos-div1, .Relatos-div2{
        width: 100%;
    }
    .Relatos-div1 .circulo, .Relatos-div2 .circulo{
        width: 65px;
        height: 65px;
    }
    .Relatos-div1 .descricao, .Relatos-div2 .descricao{
        font-size: 13px;
    }

    .Relatos-div1 cite, .Relatos-div1 .empresa, .Relatos-div2 cite, .Relatos-div2 .empresa{
        margin-left: 90px;
    }

   /* Footer */
    .footer{
        text-align: center;
    }
   
}