
/*  Estilos Gerais do site */

body{
    font-family: 'Roboto', Arial, sans-serif;
    z-index: 1;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

img{
    display: block;
    max-width: 100%;
}

/* Header */

.header {
    line-height: 20px;
    margin-top: 40px;
  
}
.header-titulo{
    font-size: 36px;
    color: #D6000D;
    font-weight: 600;

}

.header-ponto{
    color: #000;
}

.header-menu{
   text-align: right;
}

.header-menu ul li{
    display: inline;
    padding: 8px 30px;
    font-size: 18px;
  
}

.header-menu ul a li:hover{
    cursor: pointer;
    background-color: #D6000D;
    border-radius: 5px;
    padding: 8px 30px;
    color:#fff

}

.menu_ativo{
    color: #fff;
    background: #D6000D;
    border-radius: 5px;
    padding: 8px 30px;
}

/* Introdução */

.introducao{
    margin-top: 100px;
    

}

.introducao-titulos{
    line-height: 90px;
    
}

.introducao-titulos p{
    font-weight: bold;
    font-size: 18px;
}

.introducao-titulos h2{
    font-size: 55px;
    color: #D6000D;
    font-weight: 500;
}

.introducao-titulos .btn{
    background-color: #D6000D;
    color: #fff;
    border-radius: 5px;
    width: 50%;
    border: none;
    padding: 10px 10px;
}

.introducao-titulos .btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #D6000D;
    border: 2px solid #000;
   
}
