
/*  Estilos Gerais do site */

body{
    font-family: 'Roboto', Arial, sans-serif;
    z-index: 1;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

img{
    display: block;
    max-width: 100%;
}

/* Header */

.header {
    line-height: 20px;
    margin-top: 40px;
  
}
.header-titulo{
    font-size: 36px;
    color: #D6000D;
    font-weight: 600;

}

.header-ponto{
    color: #000;
}

.header-menu{
   text-align: right;
}

.header-menu ul li{
    display: inline;
    padding: 8px 30px;
    font-size: 18px;
  
}

.header-menu ul a li:hover{
    cursor: pointer;
    background-color: #D6000D;
    border-radius: 5px;
    padding: 8px 30px;
    color:#fff

}

.menu_ativo{
    color: #fff;
    background: #D6000D;
    border-radius: 5px;
    padding: 8px 30px;
}

/* Introdução */

.introducao{
    margin-top: 100px;
   
    

}

.introducao-titulos{
    line-height: 100px;
    margin-top: 40px;
   

    
}

.introducao-titulos p{
    font-weight: bold;
    font-size: 18px;
}

.introducao-titulos h2{
    font-size: 55px;
    color: #D6000D;
    font-weight: 500;
}

.introducao-titulos .btn{
    background-color: #D6000D;
    color: #fff;
    border-radius: 5px;
    width: 50%;
    border: none;
    padding: 10px 10px;
}

.introducao-titulos .btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #D6000D;
    border: 2px solid #000;
   
}

/* Servicos */

.servicos{
    margin-top: 250px;
    margin-bottom: 250px;
  
}

.servicos-descricao{
    margin-top: 80px;
    
}

.servicos p{
    font-size: 18px;
    padding: 10px 0px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
   
   
}

.servicos-icons{
    padding: 0px 10px;
    color: #D6000D;
  
}

.servicos-img img{
    margin: 0 auto;
}

.servicos-button{
    margin-top: 30px;
   
}

.servicos-button h3{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}

.servicos-button input{
    border-radius: 5px;
    background-color: #e9e9e9;
    border: none;
    padding: 10px 10px;
    margin-right: 5px;
}

.servicos-button button{
    background-color: #D6000D;
    color: #fff;
    padding: 10px 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
}

.servicos-button button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #D6000D;
    border: 2px solid #000;
    padding: 8px 8px;
   
}

/* Relatos */
.Relatos{
    margin-bottom: 30px;
}
.Relatos-div1, .Relatos-div2{
    background-color: #e9e9e9;
    padding: 25px;
    border-radius: 5px;
    line-height: 50px;
}
.Relatos-div1 .circulo, .Relatos-div2 .circulo{
    width: 80px;
	height: 80px;
	border-radius: 50%;
    background-color: #D6000D;
	overflow: hidden;
	float: left;
	margin: 15px;
	transition: 0.3s ease;
}

.Relatos-div1 p, .Relatos-div2 p{
    font-size: 15px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-align: justify;
    
}

.Relatos cite{
    font-size: 18px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
}